body{
  font-family: Sansation;
}
/* Header Menu Start */
.logo{
  font-size: 24px;
}

.nav-items li {
  font-size: 19px;
  list-style: none;
  margin-right: 25px;
}

.nav-items ul{
  display: flex;
  margin-right: 25px;
}

.nav-items{
  display: flex;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-color{
  color: #FD6E0A;
}

.nav-btn{
  background-color: #FD6E0A;
  color: white;
  border: none;
  padding: 10px 35px;
  font-size: 18px;
  border-radius: 5px;
}

.nav-items li > a {
  text-decoration: none;
  color: black;
}


.nav-items li > a:hover{
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 15px 25px;
}

.nav-btn:hover{
  color:#FD6E0A;
  background-color: white;
  border: 1px solid #FD6E0A;

}
/* Header Menu End */


