body{
  font-family: Sansation;
  
}
/* Header Menu Start */
.logo{
  font-size: 24px;
}

.nav-items li {
  font-size: 19px;
  list-style: none;
  margin-right: 25px;
}

.nav-items ul{
  display: flex;
  margin-right: 25px;
}

.nav-items{
  display: flex;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-color{
  color: #FD6E0A;
}

.nav-btn{
  background-color: #FD6E0A;
  color: white;
  border: none;
  padding: 10px 35px;
  font-size: 18px;
  border-radius: 5px;
}

.nav-items li > a {
  text-decoration: none;
  color: black;
}


.nav-items li > a:hover{
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 15px 25px;
}

.nav-btn:hover{
  color:#FD6E0A;
  background-color: white;
  border: 1px solid #FD6E0A;

}
/* Header Menu End */

/* banner start */

.banner{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* justify-content: center;
  justify-items: center; */
  align-items: center;
}

.banner_info{
  max-width: 580px;
  margin-left: 150px;

}

/* .banner_image{ 
  margin-right: 20px;
} */

/* .banner_image img{
  width: 500px;
} */

.banner_info h4{
  font-size: 45px;
  margin: 0px;
}

.banner_info h1{
  font-size: 85px;
  margin: 20px 0px;
  font-weight: 800

}

.banner_info p{
  font-size: 18px;
  margin: 20px 0px;
}

.banner_btn{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.container{
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  height: 100%;
   background-size:contain;
}


/* about section start */

.about_section{
  max-width: 1450px;
  background-color: #FFF8F3;
  border-radius: 10px;
  text-align: center;
  margin: 5% 20%;
  padding: 50px 150px;

}


.about_bottom{
  display: flex;
  justify-content: center;
  gap: 20px;
  line-height: 0px;
}


.about_info p{
  line-height:28px;
}

/* skill section start */
.skill_sections{
  margin: 5% 20%;
  background-color: #F3F3F3;
}

.main_skill{
  display: flex;
  gap: 20px;
  padding: 20px 150px; 
}

.js, .react, .node, .mongodb{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.main_skill p{
  line-height: 28px;
}

.skill_info{
  text-align: center;
  padding: 50px 12%;
}

.skill_info p{
  line-height: 28px;
}


/* resume section start */


.resume{
  margin: 5% 20%;
  padding: 50px 9%;
}
.resume_heading h1{
  font-size: 36px;
  text-align: center;
  padding: 30px 0px
}

.edu, .edu1, .ex, .ex1{
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

.info_re> h4,h5{
  line-height:  0px;
}
.info_re{
  display: flex;
  gap: 20px;
}

